# This file describes the network interfaces available on your system
# For more information, see netplan(5).
---
network:
  version: 2
  renderer: networkd

{% if variant == 'BGP' %}
  dummy-devices:
    loopback0:
        addresses:
        - 10.10.255.255/32
        - {{ osism_ipv6 }}/128

  ethernets:
{% for interface in osism_interfaces %}
    {{ interface }}:
        mtu: 9000
        optional: yes
{% endfor %}

{% elif variant == 'OOB' %}
  ethernets:
    eno1:
        mtu: 1500
        match:
            name: eno*
        addresses:
        - {{ osism_ipv6 }}/64
{% endif %}