[Unit]
Description=OSISM IPA Config Generation
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/local/sbin/osism-ipa-configure
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
