[Unit]
Description=OSISM IPA Config Generation

[Service]
ExecStart=/usr/local/sbin/osism-ipa-configure
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
