[Unit]
Description=Ansible Init

[Service]
ExecStart=/usr/local/sbin/ansible-init
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
