frr version 8.4
frr defaults traditional
hostname osism-ipa
log syslog informational
service integrated-vtysh-config
!
router bgp 4210255255
 no bgp ebgp-requires-policy
 bgp bestpath as-path multipath-relax
 bgp router-id 10.10.255.255
{% for interface in osism_interfaces %}
 neighbor {{ interface }} interface remote-as external
{% endfor %}
 !
 address-family ipv4 unicast
  redistribute connected route-map bgp_out
{% for interface in osism_interfaces %}
  neighbor {{ interface }} route-map bgp_out out
{% endfor %}
  maximum-paths 2
 exit-address-family
 !
 address-family ipv6 unicast
  redistribute connected route-map bgp_out
{% for interface in osism_interfaces %}
  neighbor {{ interface }} activate
  neighbor {{ interface }} route-map bgp_out out
{% endfor %}
 exit-address-family
exit
!
route-map bgp_out permit 10
 match interface loopback0
exit
!
route-map RM_SET_SRC4 permit 10
 set src 10.10.255.255
exit
!
route-map RM_SET_SRC6 permit 10
 set src {{ osism_ipv6 }}
exit
!
ip protocol bgp route-map RM_SET_SRC4
!
ipv6 protocol bgp route-map RM_SET_SRC6

