# This file describes the network interfaces available on your system
# For more information, see netplan(5).
---
network:
  version: 2
  renderer: networkd

  dummy-devices:
    loopback0:
        addresses:
        - {{ osism_ipv4 }}/32
        - {{ osism_ipv6 }}/128

  ethernets:
{% for interface in osism_interfaces %}
{% if "bmc" not in interface and "oob" not in interface %}
    {{ interface }}:
        mtu: 9000
        optional: yes
{% endif %}
{% endfor %}
