[Unit]
Description=Burnin
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/run.sh
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=multi-user.target
