---
- name: Build image
  hosts: all

  vars:
    _build_name: "{{ build_name | default('osism-node') }}"
    # TODO: find out how to pass this to diskimage-builder
    _image_format: "{{ image_format | default('qcow2') }}"

  tasks:
    - name: Clone ipa-builder
      ansible.builtin.shell:
        executable: /bin/bash
        chdir: "{{ zuul.project.src_dir }}"
        cmd: |
          set -e
          set -x

          git clone https://opendev.org/openstack/ironic-python-agent-builder
      when: _build_name | regex_search("^osism-ipa")

    - name: Run diskimage-builder
      ansible.builtin.shell:
        executable: /bin/bash
        chdir: "{{ zuul.project.src_dir }}"
        cmd: |
          set -e
          set -x

          export PATH=/home/zuul/.local/bin:$PATH

          source /tmp/venv/bin/activate

          diskimage-builder files/{{ _build_name }}.yml

      changed_when: true

    - name: Run upload script
      ansible.builtin.shell:  # noqa command-instead-of-module
        executable: /bin/bash
        chdir: "{{ zuul.project.src_dir }}"
        cmd: |
          export RCLONE_CONFIG_S3_TYPE=s3
          export RCLONE_CONFIG_S3_PROVIDER=Other
          export RCLONE_CONFIG_S3_ENDPOINT=https://nbg1.your-objectstorage.com
          export RCLONE_CONFIG_S3_ACCESS_KEY_ID={{ s3.S3_ACCESS_KEY | trim }}
          export RCLONE_CONFIG_S3_SECRET_ACCESS_KEY={{ s3.S3_SECRET_KEY | trim }}

          if [[ "{{ _build_name }}" == "osism-esp" ]]; then
              cp {{ _build_name }}.{{ _image_format }}.sha256 {{ _build_name }}.{{ _image_format }}.CHECKSUM
              rclone copyto {{ _build_name }}.{{ _image_format }} s3:osism/openstack-ironic-images/{{ _build_name }}.{{ _image_format }}
              rclone copyto {{ _build_name }}.{{ _image_format }}.CHECKSUM s3:osism/openstack-ironic-images/{{ _build_name }}.{{ _image_format }}.CHECKSUM
          elif [[ "{{ _image_format }}" == "raw" ]]; then
              cp {{ _build_name }}.{{ _image_format }}.sha256 {{ _build_name }}.{{ _image_format }}.CHECKSUM
              zip {{ _build_name }}.zip {{ _build_name }}.{{ _image_format }} {{ _build_name }}.{{ _image_format }}.CHECKSUM
              rclone copyto {{ _build_name }}.zip s3:osism/openstack-ironic-images/{{ _build_name }}.zip
          elif [[ "{{ _image_format }}" == "initramfs" ]]; then
              cp {{ _build_name }}.sha256 {{ _build_name }}.CHECKSUM
              rclone copyto {{ _build_name }}.CHECKSUM s3:osism/openstack-ironic-images/{{ _build_name }}.CHECKSUM
              rclone copyto {{ _build_name }}.{{ _image_format }} s3:osism/openstack-ironic-images/{{ _build_name }}.{{ _image_format }}
              rclone copyto {{ _build_name }}.kernel s3:osism/openstack-ironic-images/{{ _build_name }}.kernel
          else
              cp {{ _build_name }}.{{ _image_format }}.sha256 {{ _build_name }}.{{ _image_format }}.CHECKSUM
              rclone copyto {{ _build_name }}.{{ _image_format }}.CHECKSUM s3:osism/openstack-ironic-images/{{ _build_name }}.{{ _image_format }}.CHECKSUM
              rclone copyto {{ _build_name }}.{{ _image_format }} s3:osism/openstack-ironic-images/{{ _build_name }}.{{ _image_format }}
          fi

      when: upload_image | bool
      no_log: true
      changed_when: true
