---
- name: Run preparations
  hosts: all

  vars:
    python_venv_dir: /tmp/venv

  roles:
    - ensure-pip

  tasks:
    - name: Install required packages
      become: true
      ansible.builtin.apt:
        name:
          - dosfstools
          - gdisk
          - kpartx
          - qemu-utils
          - squashfs-tools

    - name: Install requirements
      ansible.builtin.pip:
        requirements: "{{ ansible_user_dir }}/{{ zuul.project.src_dir }}/requirements.txt"
        virtualenv: "{{ python_venv_dir }}"
        virtualenv_command: "python3 -m venv"
