---
- name: Run preparations
  hosts: all

  vars:
    python_venv_dir: /tmp/venv

  roles:
    - ensure-pip

  tasks:
    - name: Install required packages
      become: true
      ansible.builtin.apt:
        name:
          - dosfstools
          - gdisk
          - kpartx
          - minisign
          - qemu-utils
          - rclone
          - squashfs-tools
          - zip

    - name: Install requirements
      ansible.builtin.pip:
        requirements: "{{ ansible_user_dir }}/{{ zuul.project.src_dir }}/requirements.txt"
        virtualenv: "{{ python_venv_dir }}"
        virtualenv_command: "python3 -m venv"

    - name: Create output directories
      file:
        path: "{{ ansible_user_dir }}/zuul-output/{{ item }}"
        state: directory
        mode: 0755
      loop:
        - artifacts
        - docs
        - logs
